.main__cate{
    margin-top:2%;
     .row{
           div{
                 margin: 0;
                 padding: 0;
           }
         
     }    
     .div1,.div2,.div3,.divelse{
           position: relative;
           img{
            
             width:100%;
             border:3px solid rgb(236, 236, 236);
             
           }
           .cat__row__maintext{
                   position: relative;
                 .text__show{
                       position:absolute;                  
                       bottom:0.3%;
                       border-left:3px solid rgb(236, 236, 236);
                       border-right:3px solid  rgb(236, 236, 236);
                       background-color:rgba(187, 187, 187, 0.6);
                       padding: 2%;
                       width:100%;
                       height:80px;
                        p,h1{
                              text-align: center;
                              color: blanchedalmond;
                        }
                        p{
                          opacity:0;
                        }
                 }
                
             }         
           
           
     }
     //divall
     .div2,.div3,.divelse{     
         img{
             height:290px;  
         }
       
     }
    //div1
     .div1{
       img{
            height:580px; 
         }
     }

} 
@include widmax575{
     .main__cate {
           .div1,.div2,.div3,.divelse{
                 img{
                      height:350px; 
                   }
               }
  
     }
  }
@include widmax411{
     .main__cate {
           .div1,.div2,.div3,.divelse{
                 img{
                      height:300px; 
                   }
               }
  
     }
} 
@include widmax393{
     .main__cate {
           .div1,.div2,.div3,.divelse{
                 img{
                      height:250px; 
                   }
               }
  
     }

}  