.main__order{
    position: fixed;
    background-color: rgba(219, 219, 219, 0.877);
    top:95px;
    left: 15%;     
    width:70%;
    height: auto;
    z-index:1;
    display:none;
    h2{
          text-align: center;
          padding: 15px;
    }
    .orders{
          margin-top:10px;
          padding: 20px;
          p{
                margin:5%;
                padding:25px;
                font-size: 20px;
                color:white;
                text-align: center;
                background: coral;
                text-decoration: none;
                
          }
    }
}
@include widmax900{
    .main__order{
          width:80%;
          left: 9%;  
   
    .orders{
            p{
                padding:15px;
                font-size: 20px;
          }
    }
}
}
@include widmax794{
    .main__order{
    .orders{
         p{
          padding:8px;
          font-size: 15px;
          }
    }
}
}



.order__finish__success{
      display: none;
  }
  .order__finish{
  margin-top: 80px;
margin-bottom: 100px;
  
  .ord__button__main{
      button{
            background: coral;
            color:white;
      }
  }

}