
.row__productinfo{
    display:flex;
    justify-content: center; 
    margin-top: 90px;
    z-index: 0;
   .card{
         background-color: rgb(255, 255, 255);
         padding:4px;
         max-width:85%;
   } 
   .card__img{ 
         width:20%;
         height: auto;
         padding: 7px;
          
   } 
   .cardBody{
         margin-left:6px;
         padding:6px;
         max-width: 82%;
      .likeMainProdinfo{
            margin: 1px 0px 10px 0px;
            padding: 2px 0px 2px 2px;
            .likeImg{
                  width: 43px;
                  height: auto;
            }
      }
      .textTitle{
            text-align: start;
             overflow: auto;       
      }  
      .orderSent{
            margin-bottom:12px;
      }  

   }
   .buy__prod{     
      .messBuy{
            width:100%;
            max-width:320px;
      }         
}  

}
.mainAssortment{ 
      margin-top: 40px;  
      margin-bottom:2px;
      .col{      
      border:1px solid #f8fafc;
      width:100%;
      height: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      position: relative;
      display:flex;                      
            .card{
                margin-left:10px;                                
                min-width:400px;
                height: auto;                 
            }
      }
  //scroll
.col::-webkit-scrollbar {
      width: 100%;
      height: 29px;
  }
.col::-webkit-scrollbar-track {
     background-color: white;
  }
.col::-webkit-scrollbar-thumb {
      display:none; 
}
.col::-webkit-scrollbar-button:single-button:horizontal:decrement{
      background-image:url("../storage/account/back1.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size:28px 28px;
      display: block;
      width:28px;
      height: auto;
   
    }
.col::-webkit-scrollbar-button:single-button:horizontal:increment{
      background-image:url("../storage/account/next1.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size:28px 28px;
      display: block;
      width:28px;
      height: auto;
    
    }
//scrollend2

}
@include widmax768{
      .card{           
            max-width:96%;           
      }

}
//product
.rowcontrolprod{    
     display: flex;
     justify-content: center;

.row{
      display: flex; 
      justify-content:flex-start;
      margin-top: 80px;
      // border: 2px solid rgb(32, 30, 30);
      width: 95%;
      height: auto;
      .card{
            margin-left: 1.9%;
            margin-bottom:15px;
            width:17%;
            min-width:17.5rem;       
            height: auto; 
       .prodImgItem,.but__prodinfo__fromprofile{          
            width:100%;
            height:240px;    
          }
          .headerItem{
             font-family:"impact";
             text-align: start;
             font-size: 30px;
             margin:7px 0px 0px 6px;   
          }
          .priceItem{
            text-align: start;
            margin:0px 0px 0px 6px; 
            strong{       
                font-size: 28px;
                font-family: "CORBEL";
                color: rgb(248, 104, 52);
              }
            span{
                  margin-left: 4%; 
            }
           }
           .likeItem{
            margin:7px 0px 0px 5px; 
            text-align: start;
                img{
                       width: 40px;
                       height: auto;
                       margin-left: 5px;
                } 
           }
           .likealertprod{
            margin:10px 0px 10px 5px;
            text-align: start;
            font-size: 10px; 

           }
      }
  
}
}
@include widmax1306{
      .rowcontrolprod{  
             .row{
            display:flex;
            justify-content: space-around; 
            } 
      }  
}

.row__profile{
  display:flex;
  justify-content: center;
  margin-top: 80px;
  #profile{
        width:60%;
  }
.card__menu{
     margin:5% auto;
  .card-body{ 
        
        input{
              width: 60%;
              border:1px solid;
           } 
   }
}  
}
@include widmax575{
  .row__profile{
        .card__menu{
        .card-body{            
              input{
                    width: 90%;                       
              } 
         }
      }
  }
}

.main__footer{
margin-top: 25px;
width:100%;
height:90px;
background-color: rgb(42, 42, 42);
padding: 25px;
z-index:0;
.col{    
     img{
          margin-left:7px;
     }
  strong{
        padding:10px;
        color: white;
 }
}
}
